In [3]:
import os
import pandas as pd
##### Set the current working directory to the root of your project
os.chdir("/Users/evan/Documents/School/MSDS/msds-capstone/vm-spinal-risk/vm-spinal-risk/")


from utilities import data_processing as dp_utils

In [5]:
df = pd.read_csv('./data/feature_testing/dummy_data.csv')
# dp_utils.get_dospert_scores()

In [17]:
# develop an odi calculator
df.filter(regex='odi_\d+')

   odi_1  odi_2  odi_3  odi_4  odi_5  odi_6  odi_7  odi_8  odi_9  odi_10
0      1      1      1      1      1      2      1      1      1       1

In [18]:
og_df = pd.read_csv('./data/RiskFinal_DATA_2024-02-05_0017_combined.csv')

In [37]:
def get_odi_score(df):
    final_df = df.copy()
    odi_df = final_df.filter(regex='odi_\d+')
    odi_scores = (odi_df.sum(axis=1) - 1) / 50 * 100
    final_df['odi_score'] = odi_scores
    return final_df

In [38]:
get_odi_score(og_df)

,record_id,risk_1_timestamp,age,sex,height,weight,zipcode,ethnicity,income,education,...,dospert26,dospert27,dospert28,dospert29,dospert30,att_pass,odi_final,bmi,risk_1_complete,odi_score
0,3,1/26/2024 22:04,25,1,18,36,76177,4,4,6,...,6,7,6,1,5,1,0.5,20.798817,2,20.0
1,6,1/26/2024 22:04,28,1,25,77,32226,4,13,6,...,7,7,5,1,6,1,1.0,22.511188,2,22.0
2,22,1/26/2024 22:04,20,2,16,25,28729,4,11,6,...,1,7,3,2,1,1,0.0,20.191988,2,18.0
3,4,1/26/2024 22:04,31,1,23,131,94041,5,6,7,...,5,5,3,1,3,1,2.5,31.563265,2,28.0
4,21,1/26/2024 22:04,25,1,26,106,50010,2,4,7,...,5,6,5,3,1,1,0.5,25.724339,2,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
797,755,2/1/2024 22:40,20,1,25,86,34744,5,1,6,...,2,3,5,1,2,1,0.0,23.731674,2,18.0
798,753,2/1/2024 22:42,28,2,19,88,55428,5,1,6,...,5,6,6,5,3,1,1.5,28.565427,2,24.0
799,754,2/1/2024 22:45,44,1,26,101,76708,2,4,5,...,3,5,5,2,2,1,2.5,25.064740,2,28.0
800,756,2/1/2024 22:51,68,2,19,96,94597,1,12,8,...,1,6,7,1,1,1,1.5,29.856520,2,24.0
801,758,2/1/2024 23:36,62,2,21,81,32958,1,4,5,...,1,7,7,1,2,1,2.5,25.845588,2,28.0

In [23]:
odi_array = og_df.filter(regex='odi_\d+').to_numpy() - 1

In [ ]:
new_odi_df = og_df.filter(regex='odi_')
new_odi_df['new_odi'] = odi_array.sum(axis=1) / 50 * 100

In [33]:
new_odi_df

,odi_1,odi_2,odi_3,odi_4,odi_5,odi_6,odi_7,odi_8,odi_9,odi_10,odi_final,new_odi
0,1,1,1,1,1,2,1,1,1,1,0.5,2.0
1,1,1,1,1,2,2,1,1,1,1,1.0,4.0
2,1,1,1,1,1,1,1,1,1,1,0.0,0.0
3,6,1,1,1,1,1,1,1,1,1,2.5,10.0
4,1,1,1,1,1,1,1,2,1,1,0.5,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...
797,1,1,1,1,1,1,1,1,1,1,0.0,0.0
798,4,1,1,1,1,1,1,1,1,1,1.5,6.0
799,4,1,2,1,1,1,1,1,1,2,2.5,10.0
800,4,1,1,1,1,1,1,1,1,1,1.5,6.0
801,2,2,2,1,1,2,1,1,1,2,2.5,10.0

In [27]:
odi_sum / og_df['odi_final']

0      2.0
1      2.0
2      NaN
3      2.0
4      2.0
      ...
797    NaN
798    2.0
799    2.0
800    2.0
801    2.0
Name: odi_final, Length: 802, dtype: float64