In [36]:
import os
import pandas as pd
##### Set the current working directory to the root of your project
os.chdir("/Users/evan/Documents/School/MSDS/msds-capstone/vm-spinal-risk/vm-spinal-risk/")


from utilities import data_processing as dp_utils
from utilities.drop_unbalanced_features import DropUnbalancedFeatures

import importlib
importlib.reload(dp_utils)

In [25]:
df = pd.read_csv('./data/feature_testing/dummy_data.csv')
df_features = dp_utils.get_data_features(df)
# all_risk_processed = pd.read_csv('./data/data_processed/all_risk_processed.csv')
# dp_utils.get_dospert_scores()

Extracting latitude and longitude information.

  0%|          | 0/1 [00:00<?, ?it/s]

100%|██████████| 1/1 [00:00<00:00,  1.05it/s]

Extracting FIPS code.

1it [00:00,  2.02it/s]

In [27]:
df_features.head()

,record_id,risk_1_timestamp,age,sex,height,weight,zipcode,ethnicity,income,education,...,state_code,province,province_code,latitude,longitude,fips,GISJOIN,FIPS,ADI_NATRANK,ADI_STATERNK
0,3,1/26/2024 22:04,25,1,18,36,76177,4,4,6,...,TX,Tarrant,439,32.94480000,-97.31240000,484391139401,G48043901139401,484391139401,34,2

In [ ]:
['activity_work', 'comp_drop', 'comp_para', 'pct_improv', 'pct_comp']

In [41]:
import pandas as pd
dp_utils.ml_model_prep(df_features, 'choice_model')

,religion_10,sex,income,education,prior_surg,succ_surg,age,odi_final,bmi,dospert_ethical,...,height_m,weight_kg,ADI_NATRANK,ADI_STATERNK,choice,activity_work,comp_drop,comp_para,pct_improv,pct_comp
0,0.0,-1.015351,-0.559237,0.390836,0.604824,0.628025,-1.451225,-2.170736,-0.995194,0.634665,...,-0.551831,-1.100657,-0.450913,-1.118697,4,0.0,1.0,0.0,-0.942809,-0.915608
1,0.0,-1.015351,-0.559237,0.390836,0.604824,0.628025,-1.451225,-2.170736,-0.995194,0.634665,...,-0.551831,-1.100657,-0.450913,-1.118697,4,0.0,1.0,0.0,-0.942809,-0.616274
2,0.0,-1.015351,-0.559237,0.390836,0.604824,0.628025,-1.451225,-2.170736,-0.995194,0.634665,...,-0.551831,-1.100657,-0.450913,-1.118697,3,0.0,1.0,0.0,-0.942809,0.714096
3,0.0,-1.015351,-0.559237,0.390836,0.604824,0.628025,-1.451225,-2.170736,-0.995194,0.634665,...,-0.551831,-1.100657,-0.450913,-1.118697,0,0.0,1.0,0.0,-0.942809,2.044466
4,0.0,-1.015351,-0.559237,0.390836,0.604824,0.628025,-1.451225,-2.170736,-0.995194,0.634665,...,-0.551831,-1.100657,-0.450913,-1.118697,5,0.0,1.0,0.0,1.060660,-0.915608
5,0.0,-1.015351,-0.559237,0.390836,0.604824,0.628025,-1.451225,-2.170736,-0.995194,0.634665,...,-0.551831,-1.100657,-0.450913,-1.118697,5,0.0,1.0,0.0,1.060660,-0.616274
6,0.0,-1.015351,-0.559237,0.390836,0.604824,0.628025,-1.451225,-2.170736,-0.995194,0.634665,...,-0.551831,-1.100657,-0.450913,-1.118697,4,0.0,1.0,0.0,1.060660,0.714096
7,0.0,-1.015351,-0.559237,0.390836,0.604824,0.628025,-1.451225,-2.170736,-0.995194,0.634665,...,-0.551831,-1.100657,-0.450913,-1.118697,4,0.0,1.0,0.0,1.060660,2.044466
8,0.0,-1.015351,-0.559237,0.390836,0.604824,0.628025,-1.451225,-2.170736,-0.995194,0.634665,...,-0.551831,-1.100657,-0.450913,-1.118697,4,0.0,0.0,0.0,-0.942809,-0.915608
9,0.0,-1.015351,-0.559237,0.390836,0.604824,0.628025,-1.451225,-2.170736,-0.995194,0.634665,...,-0.551831,-1.100657,-0.450913,-1.118697,1,0.0,0.0,0.0,-0.942809,-0.616274
10,0.0,-1.015351,-0.559237,0.390836,0.604824,0.628025,-1.451225,-2.170736,-0.995194,0.634665,...,-0.551831,-1.100657,-0.450913,-1.118697,0,0.0,0.0,0.0,-0.942809,0.714096
11,0.0,-1.015351,-0.559237,0.390836,0.604824,0.628025,-1.451225,-2.170736,-0.995194,0.634665,...,-0.551831,-1.100657,-0.450913,-1.118697,5,0.0,0.0,0.0,1.060660,-0.915608
12,0.0,-1.015351,-0.559237,0.390836,0.604824,0.628025,-1.451225,-2.170736,-0.995194,0.634665,...,-0.551831,-1.100657,-0.450913,-1.118697,4,0.0,0.0,0.0,1.060660,-0.616274
13,0.0,-1.015351,-0.559237,0.390836,0.604824,0.628025,-1.451225,-2.170736,-0.995194,0.634665,...,-0.551831,-1.100657,-0.450913,-1.118697,0,0.0,0.0,0.0,1.060660,0.714096
14,0.0,-1.015351,-0.559237,0.390836,0.604824,0.628025,-1.451225,-2.170736,-0.995194,0.634665,...,-0.551831,-1.100657,-0.450913,-1.118697,5,1.0,1.0,0.0,-0.942809,-0.915608
15,0.0,-1.015351,-0.559237,0.390836,0.604824,0.628025,-1.451225,-2.170736,-0.995194,0.634665,...,-0.551831,-1.100657,-0.450913,-1.118697,5,1.0,1.0,0.0,-0.942809,-0.616274
16,0.0,-1.015351,-0.559237,0.390836,0.604824,0.628025,-1.451225,-2.170736,-0.995194,0.634665,...,-0.551831,-1.100657,-0.450913,-1.118697,4,1.0,1.0,0.0,-0.942809,0.714096
17,0.0,-1.015351,-0.559237,0.390836,0.604824,0.628025,-1.451225,-2.170736,-0.995194,0.634665,...,-0.551831,-1.100657,-0.450913,-1.118697,4,1.0,1.0,0.0,-0.942809,2.044466
18,0.0,-1.015351,-0.559237,0.390836,0.604824,0.628025,-1.451225,-2.170736,-0.995194,0.634665,...,-0.551831,-1.100657,-0.450913,-1.118697,5,1.0,1.0,0.0,1.060660,-0.915608
19,0.0,-1.015351,-0.559237,0.390836,0.604824,0.628025,-1.451225,-2.170736,-0.995194,0.634665,...,-0.551831,-1.100657,-0.450913,-1.118697,5,1.0,1.0,0.0,1.060660,-0.616274
20,0.0,-1.015351,-0.559237,0.390836,0.604824,0.628025,-1.451225,-2.170736,-0.995194,0.634665,...,-0.551831,-1.100657,-0.450913,-1.118697,4,1.0,1.0,0.0,1.060660,0.714096
21,0.0,-1.015351,-0.559237,0.390836,0.604824,0.628025,-1.451225,-2.170736,-0.995194,0.634665,...,-0.551831,-1.100657,-0.450913,-1.118697,4,1.0,0.0,1.0,-0.942809,-0.915608
22,0.0,-1.015351,-0.559237,0.390836,0.604824,0.628025,-1.451225,-2.170736,-0.995194,0.634665,...,-0.551831,-1.100657,-0.450913,-1.118697,3,1.0,0.0,1.0,-0.942809,-0.616274
23,0.0,-1.015351,-0.559237,0.390836,0.604824,0.628025,-1.451225,-2.170736,-0.995194,0.634665,...,-0.551831,-1.100657,-0.450913,-1.118697,0,1.0,0.0,1.0,-0.942809,0.714096
24,0.0,-1.015351,-0.559237,0.390836,0.604824,0.628025,-1.451225,-2.170736,-0.995194,0.634665,...,-0.551831,-1.100657,-0.450913,-1.118697,0,1.0,0.0,1.0,-0.942809,2.044466
25,0.0,-1.015351,-0.559237,0.390836,0.604824,0.628025,-1.451225,-2.170736,-0.995194,0.634665,...,-0.551831,-1.100657,-0.450913,-1.118697,5,1.0,0.0,1.0,1.060660,-0.915608
26,0.0,-1.015351,-0.559237,0.390836,0.604824,0.628025,-1.451225,-2.170736,-0.995194,0.634665,...,-0.551831,-1.100657,-0.450913,-1.118697,5,1.0,0.0,1.0,1.060660,-0.616274
27,0.0,-1.015351,-0.559237,0.390836,0.604824,0.628025,-1.451225,-2.170736,-0.995194,0.634665,...,-0.551831,-1.100657,-0.450913,-1.118697,0,1.0,0.0,1.0,1.060660,0.714096
28,0.0,-1.015351,-0.559237,0.390836,0.604824,0.628025,-1.451225,-2.170736,-0.995194,0.634665,...,-0.551831,-1.100657,-0.450913,-1.118697,5,1.0,0.0,0.0,-0.942809,-0.915608
29,0.0,-1.015351,-0.559237,0.390836,0.604824,0.628025,-1.451225,-2.170736,-0.995194,0.634665,...,-0.551831,-1.100657,-0.450913,-1.118697,3,1.0,0.0,0.0,-0.942809,-0.616274
30,0.0,-1.015351,-0.559237,0.390836,0.604824,0.628025,-1.451225,-2.170736,-0.995194,0.634665,...,-0.551831,-1.100657,-0.450913,-1.118697,0,1.0,0.0,0.0,-0.942809,0.714096
31,0.0,-1.015351,-0.559237,0.390836,0.604824,0.628025,-1.451225,-2.170736,-0.995194,0.634665,...,-0.551831,-1.100657,-0.450913,-1.118697,5,1.0,0.0,0.0,1.060660,-0.915608
32,0.0,-1.015351,-0.559237,0.390836,0.604824,0.628025,-1.451225,-2.170736,-0.995194,0.634665,...,-0.551831,-1.100657,-0.450913,-1.118697,5,1.0,0.0,0.0,1.060660,-0.616274
33,0.0,-1.015351,-0.559237,0.390836,0.604824,0.628025,-1.451225,-2.170736,-0.995194,0.634665,...,-0.551831,-1.100657,-0.450913,-1.118697,0,1.0,0.0,0.0,1.060660,0.714096

In [66]:
all_risk_processed = dp_utils.get_odi_score(all_risk_processed)
all_risk_processed.to_csv('./data/data_processed/all_risk_processed.csv', index=False)

In [61]:
df.head()

,record_id,risk_1_timestamp,age,sex,height,weight,zipcode,ethnicity,income,education,...,dospert25,dospert26,dospert27,dospert28,dospert29,dospert30,att_pass,odi_final,bmi,risk_1_complete
0,3,1/26/2024 22:04,25,1,18,36,76177,4,4,6,...,1,6,7,6,1,5,1,0.5,20.798817,2

In [62]:
dp_utils.get_data_features(df)

Extracting latitude and longitude information.

100%|██████████| 1/1 [00:01<00:00,  1.14s/it]

Extracting FIPS code.

1it [00:00,  2.19it/s]

,record_id,risk_1_timestamp,age,sex,height,weight,zipcode,ethnicity,income,education,...,province,province_code,latitude,longitude,fips,GISJOIN,FIPS,ADI_NATRANK,ADI_STATERNK,spinal_risk_score
0,3,1/26/2024 22:04,25,1,18,36,76177,4,4,6,...,Tarrant,439,32.94480000,-97.31240000,484391139401,G48043901139401,484391139401,34,2,0.095803

In [64]:
all_risk_processed

,record_id,risk_1_timestamp,age,sex,height,weight,zipcode,ethnicity,income,education,...,province_code,latitude,longitude,fips,GISJOIN,FIPS,ADI_NATRANK,ADI_STATERNK,spinal_risk_score,old_spinal_risk_score
0,3,1/26/2024 22:04,25,1,18,36,76177,4,4,6,...,439.0,32.9448,-97.3124,4.843911e+11,G48043901139401,4.843911e+11,34,2,0.095803,0.850389
1,6,1/26/2024 22:04,28,1,25,77,32226,4,13,6,...,31.0,30.4735,-81.5448,1.203101e+11,G12003100101071,1.203101e+11,55,6,0.161863,0.740909
2,22,1/26/2024 22:04,20,2,16,25,28729,4,11,6,...,89.0,35.3172,-82.5977,3.708993e+11,G37008909307033,3.708993e+11,47,3,0.188501,0.426640
3,4,1/26/2024 22:04,31,1,23,131,94041,5,6,7,...,85.0,37.3893,-122.0783,6.085510e+10,G06008505096003,6.085510e+10,1,1,0.148907,0.511215
4,21,1/26/2024 22:04,25,1,26,106,50010,2,4,7,...,169.0,42.0379,-93.6003,1.916900e+11,G19016900001011,1.916900e+11,30,1,0.044608,0.830583
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,755,2/1/2024 22:40,20,1,25,86,34744,5,1,6,...,97.0,28.3078,-81.3681,1.209704e+11,G12009700424003,1.209704e+11,56,6,0.208943,0.363630
795,753,2/1/2024 22:42,28,2,19,88,55428,5,1,6,...,53.0,45.0632,-93.3811,2.705302e+11,G27005300215011,2.705302e+11,54,7,0.160828,0.530874
796,754,2/1/2024 22:45,44,1,26,101,76708,2,4,5,...,309.0,31.5765,-97.1786,4.830900e+11,G48030900011001,4.830900e+11,94,10,0.221881,0.341659
797,756,2/1/2024 22:51,68,2,19,96,94597,1,12,8,...,13.0,37.9182,-122.0717,6.013340e+10,G06001303400014,6.013340e+10,4,2,0.098301,0.641400
798,758,2/1/2024 23:36,62,2,21,81,32958,1,4,5,...,61.0,27.7901,-80.4784,1.206105e+11,G12006100508061,1.206105e+11,65,8,0.195374,0.430271

In [17]:
# develop an odi calculator
df.filter(regex='odi_\d+')

   odi_1  odi_2  odi_3  odi_4  odi_5  odi_6  odi_7  odi_8  odi_9  odi_10
0      1      1      1      1      1      2      1      1      1       1

In [18]:
og_df = pd.read_csv('./data/RiskFinal_DATA_2024-02-05_0017_combined.csv')

In [23]:
odi_array = og_df.filter(regex='odi_\d+').to_numpy() - 1

In [ ]:
new_odi_df = og_df.filter(regex='odi_')
new_odi_df['new_odi'] = odi_array.sum(axis=1) / 50 * 100

In [33]:
new_odi_df

,odi_1,odi_2,odi_3,odi_4,odi_5,odi_6,odi_7,odi_8,odi_9,odi_10,odi_final,new_odi
0,1,1,1,1,1,2,1,1,1,1,0.5,2.0
1,1,1,1,1,2,2,1,1,1,1,1.0,4.0
2,1,1,1,1,1,1,1,1,1,1,0.0,0.0
3,6,1,1,1,1,1,1,1,1,1,2.5,10.0
4,1,1,1,1,1,1,1,2,1,1,0.5,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...
797,1,1,1,1,1,1,1,1,1,1,0.0,0.0
798,4,1,1,1,1,1,1,1,1,1,1.5,6.0
799,4,1,2,1,1,1,1,1,1,2,2.5,10.0
800,4,1,1,1,1,1,1,1,1,1,1.5,6.0
801,2,2,2,1,1,2,1,1,1,2,2.5,10.0

In [27]:
odi_sum / og_df['odi_final']

0      2.0
1      2.0
2      NaN
3      2.0
4      2.0
      ...
797    NaN
798    2.0
799    2.0
800    2.0
801    2.0
Name: odi_final, Length: 802, dtype: float64