In [10]:
# libraries
import pandas as pd
import numpy as np
import os

# constants
data_fname = "data/NormativeODI_DATA_2024-01-04_1611.csv"
os.getcwd()

'C:\\Users\\james\\vm-spinal-risk\\vm-spinal-risk'

In [11]:
data = pd.read_csv(os.path.join(os.getcwd(), data_fname))
data

,record_id,redcap_survey_identifier,assessment_of_back_pain_in_people_who_never_had_sp_timestamp,age,sex,height,weight_in_pounds,zip_code,how_physically_demanding_i,have_you_ever_experienced,...,social_life,travelling,employment_homemaking,attention_check___1,attention_check___2,attention_check___3,attention_check___4,attention_check___5,attention_check___6,assessment_of_back_pain_in_people_who_never_had_sp_complete
0,1,NaN,2023-11-14 21:52:17,36,1,20,17,46221.0,5,1,...,1,1,1.0,0,0,0,1,0,1,2
1,2,NaN,2023-11-20 21:03:17,45,2,20,89,44107.0,2,1,...,2,2,2.0,1,1,0,1,1,0,2
2,3,NaN,2023-11-20 21:03:27,29,2,14,9,12508.0,3,1,...,2,5,2.0,1,1,1,1,1,1,2
3,4,NaN,2023-11-20 21:04:07,69,2,23,46,59474.0,3,1,...,1,2,1.0,1,0,0,1,1,1,2
4,5,NaN,2023-11-20 21:04:31,26,1,21,74,60647.0,1,1,...,1,1,1.0,1,1,1,1,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213,214,NaN,2023-11-21 02:26:58,34,1,23,76,92672.0,3,1,...,3,1,1.0,1,1,1,1,0,0,2
214,215,NaN,2023-11-21 02:27:59,42,1,26,151,97211.0,3,1,...,2,2,2.0,1,1,1,1,0,0,2
215,216,NaN,2023-11-21 02:35:15,50,1,25,151,77001.0,2,1,...,2,4,2.0,1,1,0,1,0,1,2
216,217,NaN,2023-11-21 02:40:03,44,2,20,31,60089.0,3,1,...,1,1,1.0,1,1,1,1,0,0,2
217,218,NaN,2023-11-21 02:45:06,32,1,27,76,90056.0,4,0,...,4,5,5.0,0,0,0,1,0,0,2

In [24]:
def filter_df_by_attention_check(data:pd.DataFrame, col_start, col_end, tol:int):
    """
    Filter a pandas data frame of survey responses for rows where the attention check is passed.

    args:
        data: pd.DataFrame
            Survey responses. Columns may vary.
        col_start: int
            The column index where the attention check question starts.
        col_end: int 
            The column index where the attention check question ends.
        tol: int
            The exact number of choices that must be selected to pass the attention check
    """

    subset = data.iloc[:, col_start:col_end]
    result = (subset == 1).sum(axis=1) == 4
    print(f"{"{:.2f}".format(result.mean()*100)} percent of responses passed the attention check.")
    return subset[result]

SyntaxError: invalid decimal literal (776655327.py, line 18)

In [20]:
filter_df_by_attention_check(data, -7, -1, 4)

83.94495412844036.2f percent of responses passed the attention check.

,attention_check___1,attention_check___2,attention_check___3,attention_check___4,attention_check___5,attention_check___6
1,1,1,0,1,1,0
3,1,0,0,1,1,1
4,1,1,1,1,0,0
5,1,1,1,1,0,0
6,1,1,1,1,0,0
...,...,...,...,...,...,...
212,0,1,1,0,1,1
213,1,1,1,1,0,0
214,1,1,1,1,0,0
215,1,1,0,1,0,1
216,1,1,1,1,0,0

In [17]:
((data.iloc[:, -7:-1] == 1).sum(axis = 1) == 4).mean()

0.8394495412844036